<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}  <!-- Load static template tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Upload an Image</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>

        {% if text %}
        <div class="result">
            <h2>Extracted Text:</h2>
            <p>{{ text }}</p>

            <h2>Translated Text:</h2>
            <p>{{ translated_text }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>



<!-- <!DOCTYPE html>
<html>
<head>
    <title>Image Upload</title>
</head>
<body>
    <h1>Upload an Image</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    {% if text %}
    <h2>Extracted Text:</h2>
    <p>{{ text }}</p>

    <h2>Translated Text:</h2>
    <p>{{ translated_text }}</p>
    {% endif %}
</body>
</html> -->
